/bin
/obj
webserver/bin
webserver/obj
webserver/Properties
/node_modules
webserver/node_modules
packages/Newtonsoft.Json*
packages/Npgsql*
packages/nspec*
packages/GraphQL*
packages/FastMember*
*.suo
**/bin
**/obj
Test.cs